<code>PySpark Handling Missing Values</code>

* Dropping Columns
* Dropping Rows
* Various Parameter in Dropping Functionalities
* Handling Missing Values By Mean, Median and Mode

First step Always: <code>Start Spark Session</code>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('console').getOrCreate()

In [2]:
# read dataset
spark.read.csv('employee.csv', header=True, inferSchema=True).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Daniel|  32|        10| 20000|
| Misha|  33|         5| 25000|
|Marnus|  23|         1| 10000|
| Steve|  34|        13| 35000|
| David|  26|        15| 40000|
|  null|  34|      null| 20000|
|   Tom|null|      null| 30000|
|  null|  40|      null|  null|
+------+----+----------+------+

In [3]:
df_pyspark = spark.read.csv('employee.csv', header=True, inferSchema=True)

In [4]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Daniel|  32|        10| 20000|
| Misha|  33|         5| 25000|
|Marnus|  23|         1| 10000|
| Steve|  34|        13| 35000|
| David|  26|        15| 40000|
|  null|  34|      null| 20000|
|   Tom|null|      null| 30000|
|  null|  40|      null|  null|
+------+----+----------+------+

<code>Dropping Column:</code>

In [5]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  32|        10| 20000|
|  33|         5| 25000|
|  23|         1| 10000|
|  34|        13| 35000|
|  26|        15| 40000|
|  34|      null| 20000|
|null|      null| 30000|
|  40|      null|  null|
+----+----------+------+

<code>Dropping Null Values:</code>

In [6]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Daniel| 32|        10| 20000|
| Misha| 33|         5| 25000|
|Marnus| 23|         1| 10000|
| Steve| 34|        13| 35000|
| David| 26|        15| 40000|
+------+---+----------+------+

In [7]:
### how == all and how == any
df_pyspark.na.drop(how='all').show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Daniel|  32|        10| 20000|
| Misha|  33|         5| 25000|
|Marnus|  23|         1| 10000|
| Steve|  34|        13| 35000|
| David|  26|        15| 40000|
|  null|  34|      null| 20000|
|   Tom|null|      null| 30000|
|  null|  40|      null|  null|
+------+----+----------+------+

In [8]:
df_pyspark.na.drop(how='any').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Daniel| 32|        10| 20000|
| Misha| 33|         5| 25000|
|Marnus| 23|         1| 10000|
| Steve| 34|        13| 35000|
| David| 26|        15| 40000|
+------+---+----------+------+

<code>'any'</code> basically remove all the rows that have null values.

In [10]:
# Threshold
df_pyspark.na.drop(how='any', thresh=2).show() # drop all row having 2 non-null values

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Daniel|  32|        10| 20000|
| Misha|  33|         5| 25000|
|Marnus|  23|         1| 10000|
| Steve|  34|        13| 35000|
| David|  26|        15| 40000|
|  null|  34|      null| 20000|
|   Tom|null|      null| 30000|
+------+----+----------+------+

<code>Thresh</code>

If non NULL values of particular row or column is less than thresh value then drop that row or column.

In [11]:
df_pyspark.na.drop(how='any', thresh=3).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Daniel| 32|        10| 20000|
| Misha| 33|         5| 25000|
|Marnus| 23|         1| 10000|
| Steve| 34|        13| 35000|
| David| 26|        15| 40000|
+------+---+----------+------+

<code>Subset</code>

If the given subset column contains any of the null value then dop that row or column.

In [12]:
#subset
df_pyspark.na.drop(how='any', subset=['Name']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Daniel|  32|        10| 20000|
| Misha|  33|         5| 25000|
|Marnus|  23|         1| 10000|
| Steve|  34|        13| 35000|
| David|  26|        15| 40000|
|   Tom|null|      null| 30000|
+------+----+----------+------+

<code>Fill the missing value</code>

In [17]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Daniel|  32|        10| 20000|
| Misha|  33|         5| 25000|
|Marnus|  23|         1| 10000|
| Steve|  34|        13| 35000|
| David|  26|        15| 40000|
|  null|  34|      null| 20000|
|   Tom|null|      null| 30000|
|  null|  40|      null|  null|
+------+----+----------+------+

In [18]:
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|        Daniel|  32|        10| 20000|
|         Misha|  33|         5| 25000|
|        Marnus|  23|         1| 10000|
|         Steve|  34|        13| 35000|
|         David|  26|        15| 40000|
|Missing Values|  34|      null| 20000|
|           Tom|null|      null| 30000|
|Missing Values|  40|      null|  null|
+--------------+----+----------+------+

In [19]:
df_pyspark.na.fill('Missing Values', ['experience', 'age']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Daniel|  32|        10| 20000|
| Misha|  33|         5| 25000|
|Marnus|  23|         1| 10000|
| Steve|  34|        13| 35000|
| David|  26|        15| 40000|
|  null|  34|      null| 20000|
|   Tom|null|      null| 30000|
|  null|  40|      null|  null|
+------+----+----------+------+

In [21]:
df_pyspark.na.fill('NA Values', 'Name').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Daniel|  32|        10| 20000|
|    Misha|  33|         5| 25000|
|   Marnus|  23|         1| 10000|
|    Steve|  34|        13| 35000|
|    David|  26|        15| 40000|
|NA Values|  34|      null| 20000|
|      Tom|null|      null| 30000|
|NA Values|  40|      null|  null|
+---------+----+----------+------+

Handling missing values with their mean, median and mode [<code>central tendency</code>]

This is something of a more professional way to handle the missing values i.e imputing the null values with mean/median/mode depending on the domain of the dataset. Here we will be using the Imputer function from the PySpark library to use the mean/median/mode functionality.

In [24]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Experience', 'Salary'],
    outputCols= ['{}_imputed'.format(a) for a in ['Age', 'Experience', 'Salary']]
).setStrategy('mean')

**Code breakdown:** There are a lot of things going on here so let’s break it down.

* First, we have called the <code>Imputer function</code> from <code>PySpark’s ml. feature</code> library.
* Then using that Imputer object we have defined our <code>input columns</code>, as well as output columns in input columns we gave the name of the column which needs to be imputed, and the output column is the imputed one.
* Then at the last, we <code>set the strategy</code> of imputing values (here it’s <code>mean</code>) but we can either use <code>median or mode</code>depending on the dataset.

<code>Fit and Transform</code>

Now so we have used the Imputer object to impute the mean values in the place of null values but to see the changes we need to use the <code>fit-transform method</code> simultaneously.

In [25]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|Daniel|  32|        10| 20000|         32|                10|         20000|
| Misha|  33|         5| 25000|         33|                 5|         25000|
|Marnus|  23|         1| 10000|         23|                 1|         10000|
| Steve|  34|        13| 35000|         34|                13|         35000|
| David|  26|        15| 40000|         26|                15|         40000|
|  null|  34|      null| 20000|         34|                 8|         20000|
|   Tom|null|      null| 30000|         31|                 8|         30000|
|  null|  40|      null|  null|         40|                 8|         25714|
+------+----+----------+------+-----------+------------------+--------------+