Introduction:
- Pandas is the popular library in Python. It is extensively used to read data and process data.
- data comes in rows and columns
- it has bunch of functions

Pandas ObjectSs:
- DataFrame
- Series

DataFrame:

- it is a main object in Pandas. It is used to represent data with rows and columns.
- it is a data structure represent the data in tabular or excel spread sheet like data.

Creating DataFrame:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/nyc_weather.csv')
df

,date,tmax,tmin,tavg,departure,HDD,CDD,precipitation,new_snow,snow_depth
0,1/1/19,60,40,50.0,13.9,15,0,0.08,0,0
1,2/1/19,41,35,38.0,2.1,27,0,0,0,0
2,3/1/19,45,39,42.0,6.3,23,0,T,0,0
3,4/1/19,47,37,42.0,6.5,23,0,0,0,0
4,5/1/19,47,42,44.5,9.1,20,0,0.45,0,0
...,...,...,...,...,...,...,...,...,...,...
360,27/12/19,54,42,48.0,10.8,17,0,T,0,0
361,28/12/19,50,44,47.0,10.0,18,0,0,0,0
362,29/12/19,44,38,41.0,4.3,24,0,0.29,0,0
363,30/12/19,43,38,40.5,4.0,24,0,0.49,0,0
364,31/12/19,46,38,42.0,5.7,23,0,0.01,0,0

In [3]:
df.tail()

,date,tmax,tmin,tavg,departure,HDD,CDD,precipitation,new_snow,snow_depth
360,27/12/19,54,42,48.0,10.8,17,0,T,0,0
361,28/12/19,50,44,47.0,10.0,18,0,0,0,0
362,29/12/19,44,38,41.0,4.3,24,0,0.29,0,0
363,30/12/19,43,38,40.5,4.0,24,0,0.49,0,0
364,31/12/19,46,38,42.0,5.7,23,0,0.01,0,0

In [4]:
df.shape

(365, 10)

In [7]:
df.columns

Index(['date', 'tmax', 'tmin', 'tavg', 'departure', 'HDD', 'CDD',
       'precipitation', 'new_snow', 'snow_depth'],
      dtype='object')

In [8]:
df.tmax #print particular column data

0      60
1      41
2      45
3      47
4      47
       ..
360    54
361    50
362    44
363    43
364    46
Name: tmax, Length: 365, dtype: int64

In [9]:
#another way of accessing column 
df['tmax'] # df.tmax (both are same)

0      60
1      41
2      45
3      47
4      47
       ..
360    54
361    50
362    44
363    43
364    46
Name: tmax, Length: 365, dtype: int64

In [10]:
df['tmax'].describe()

count    365.000000
mean      63.169863
std       18.806232
min       16.000000
25%       47.000000
50%       63.000000
75%       79.000000
max      100.000000
Name: tmax, dtype: float64

In [11]:
# select rows which has maximum temperature [row with max. temperature]
df[df.tmax == df.tmax.max()]

,date,tmax,tmin,tavg,departure,HDD,CDD,precipitation,new_snow,snow_depth
201,21/7/19,100,83,91.5,11.9,0,27,0.01,0,0

In [13]:
# select only date column which has maximum temperature
df.date[df.tmax == df.tmax.max()]

201    21/7/19
Name: date, dtype: object